nav {
  background: rgba(54, 54, 50, 0.3);
  width: max-content;
  display: block;
  padding: 0.2rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 3rem;
  border-radius: 12rem;
  backdrop-filter: blur(10px);
}

nav a {
  background: transparent;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-primary);
  font-size: 1.2rem;
}

nav a:hover {
  background: var(--color-light);
  opacity: .55;
  border-radius: 12rem 12rem 12rem 12rem;
}

nav a.active {
  background: rgba(202, 202, 189, 0.377);
  border-radius: 12rem 12rem 12rem 12rem;
  color: var(--color-white);
}