header {
  height: 100vh;
  padding-top: 1.4rem;
  overflow: hidden;
}

.header__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100vw;
  position: relative;
  align-items: center;
  overflow: hidden;
}


/* ====== CTA =======*/
.cta {
  margin-top: 1rem;
  display:flex;
  gap: 1rem;
  justify-content: center;
}

/* ====== Header Socials =======*/
.header__socials {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem; */
  margin-top: 1rem;
}

#linkedin:hover {
  color: darkblue;
}

#github:hover{
  color: black;
}

/* .header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
} */

/* ====== Me =======*/
.me {
  /* background: linear-gradient(var(--color-primary, transparent)); */
  /* background: var(--color-primary); */
  /* width: 22rem; */
  /* height: 15rem; */
  /* position: absolute; */
  /* left: calc(50% - 11rem); */
  /* margin-top: 2rem; */
  /* border-radius: 12rem 12rem 0 0; */
  /* padding: 0.5rem 1.5rem 1.5rem 1.5rem; */
  display: flex;
  margin: 1.4rem auto;
  width: 390px;
  height: 450px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.me_img {
  max-width: 100%; /* makes sure the image scales inside the container */
  max-height: 100%;
  border-radius: 7rem;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.picNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-dot {
  color: var(--color-light)
}

/* ====== Scrolldown =======*/

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
/* ====== Med screen =======*/

@media screen and (max-width: 1024px) {
  .me_img {
    max-width: 90%; /* makes sure the image scales inside the container */
    height: auto%;
    border-radius: 4rem;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }
}
